.md2html-rotate {
  animation: md2html-rotating 2s linear infinite;
  width: 24px;
  display: block;
  margin: auto;
}

.md2html-rotate > svg {
  margin: auto;
  display: block;
}

@keyframes md2html-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.md2html-list {
  padding: var(--size-4-4);
  margin-bottom: var(--size-4-2);
  width: 100%;
  display: flex;
  justify-content: right;
}
